In [23]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from sqlalchemy import create_engine

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

## PART 1: Retrieve Census API DATA

In [2]:
# Run Census Search to retrieve data on all zip codes (2017 ACS5 Census)
census_data = c.acs5.get(("NAME", "B01003_001E,B02008_001E,B02009_001E,B06011_001E"), 
                         {'for': 'zip code tabulation area:*'})

In [3]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

In [4]:
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B02008_001E": "White_Pop",
                                      "B02009_001E": "Black_Pop",
                                      "B06011_001E": "Median_Income",
                                      "NAME": "Name", "zip code tabulation area": "ZipCode"})

In [5]:
# Create Column for Percent Non-White (Population-White Pop) / Population
census_pd["Percent_Non_White"] = 100 * \
        ((census_pd["Population"].astype(int) - census_pd["White_Pop"].astype(int)) / \
         census_pd["Population"].astype(int))

In [6]:
# Create Final DataFrame
census_pd = census_pd[["ZipCode", "Population", "White_Pop","Black_Pop","Percent_Non_White",
                       "Median_Income"]]

In [7]:
# Preview Dataframe
print(len(census_pd))
census_pd.head()

33120

  ZipCode  Population  White_Pop  Black_Pop  Percent_Non_White  Median_Income
0   00601     17599.0    13798.0      234.0          21.597818            NaN
1   00602     39209.0    36441.0    10348.0           7.059604            NaN
2   00603     50135.0    39939.0     5867.0          20.337090            NaN
3   00606      6304.0     3218.0      234.0          48.953046            NaN
4   00610     27590.0    19671.0     3336.0          28.702428            NaN

In [8]:
# Change ZipCode dtype from objext to integer

census_pd.ZipCode = census_pd.ZipCode.astype(int)
census_pd.dtypes

ZipCode                int64
Population           float64
White_Pop            float64
Black_Pop            float64
Percent_Non_White    float64
Median_Income        float64
dtype: object

## PART 2:  Sort Baltimore CCTV Data

In [9]:
# read in CCTV CSV

cctv_data = "CCTV_Locations.csv"
cctv_df = pd.read_csv(cctv_data)
cctv_df

,ID,CameraName,Owner,RegistrationType,ListedDate,Latitude,Longitude,ZipCode,Neighborhood,PoliceDistrict,CouncilDistrict,PolicePost,Location,2010 Census Neighborhoods,2010 Census Wards Precincts,Zip Codes
0,277,733 North Ave West - Etting/Whitelock,BPD - North Ave West,Business,10/22/2014 05:27:48 PM,39.310861,-76.640704,21217.0,Penn North,Western,7,733,POINT (39.310861 -76.640704),NaN,NaN,NaN
1,71,70 Downtown - Saratoga/Lexington,BPD - Downtown,Business,10/22/2014 05:27:45 PM,39.291378,-76.607830,21202.0,Downtown,Central,11,111,POINT (39.291378 -76.60783),NaN,NaN,NaN
2,376,1018 Tri-District - Monroe/Ramsay,BPD - Tri-District,Business,10/22/2014 05:27:49 PM,39.283147,-76.646666,21223.0,Carrollton Ridge,Southern,9,934,POINT (39.283147 -76.646666),NaN,NaN,NaN
3,142,331 Cherry Hill - Rear of 3411 Round Rd,BPD - Cherry Hill,Business,10/22/2014 05:27:46 PM,39.244008,-76.624244,21225.0,Cherry Hill,Southern,10,922,POINT (39.244008 -76.624244),NaN,NaN,NaN
4,104,221 Broadway - Fleet/Broadway (Eastside),BPD - Broadway,Business,10/22/2014 05:27:46 PM,39.284564,-76.593260,21231.0,Fells Point,Southeastern,1,213,POINT (39.284564 -76.59326),NaN,NaN,NaN
5,500,2013 McCulloh - 1135 Tiffany Ct,BPD - McCulloh,Business,10/22/2014 05:27:50 PM,39.302018,-76.625957,21201.0,Upton,Central,11,123,POINT (39.302018 -76.625957),NaN,NaN,NaN
6,357,932 Southwest District - Riggls/Braddish,BPD - Southwest District,Business,10/22/2014 05:27:49 PM,39.300826,-76.664776,21216.0,Winchester,Southwestern,9,814,POINT (39.300826 -76.664776),NaN,NaN,NaN
7,343,918 Southwest District - Poplar Grove/Riggls,BPD - Southwest District,Business,10/22/2014 05:27:49 PM,39.300189,-76.665130,21216.0,Mosher,Western,9,721,POINT (39.300189 -76.66513),NaN,NaN,NaN
8,257,713 North Ave West - Pulaski/Herbert,BPD - North Ave West,Business,10/22/2014 05:27:48 PM,39.310219,-76.651376,21217.0,Mondawmin,Western,7,731,POINT (39.310219 -76.651376),NaN,NaN,NaN
9,540,2128 Gilmore - 1649 Lorman Ct,BPD - Gilmore,Business,10/22/2014 05:27:51 PM,39.303959,-76.643874,21217.0,Sandtown-Winchester,Western,7,743,POINT (39.303959 -76.643874),NaN,NaN,NaN
10,489,2002 McCulloh - 569 Dolphin St,BPD - McCulloh,Business,10/22/2014 05:27:50 PM,39.299474,-76.628247,21201.0,Upton,Central,11,123,POINT (39.299474 -76.628247),NaN,NaN,NaN
11,241,626 Monument - Ashland/Montford,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.300885,-76.584317,21205.0,Milton-Montford,Eastern,13,323,POINT (39.300885 -76.584317),NaN,NaN,NaN
12,2,1 Downtown - Eutaw/Lexington Market,BPD - Downtown,Business,10/22/2014 05:27:45 PM,39.290996,-76.621074,21201.0,Downtown,Central,11,111,POINT (39.290996 -76.621074),NaN,NaN,NaN
13,579,2306 Perkins - 231 Mason Ct,BPD - Perkins,Business,10/22/2014 05:27:51 PM,39.288642,-76.595773,21231.0,Perkins Homes,Southeastern,12,211,POINT (39.288642 -76.595773),NaN,NaN,NaN
14,91,208 Broadway - Lombard/Durham,BPD - Broadway,Business,10/22/2014 05:27:46 PM,39.290520,-76.591047,21231.0,Washington Hill,Southeastern,13,212,POINT (39.29052 -76.591047),NaN,NaN,NaN
15,502,2015 McCulloh - 441 Cummings Ct,BPD - McCulloh,Business,10/22/2014 05:27:50 PM,39.300996,-76.625380,21201.0,Upton,Central,11,123,POINT (39.300996 -76.62538),NaN,NaN,NaN
16,363,1005 Tri-District - Parrish/Ramsy,BPD - Tri-District,Business,10/22/2014 05:27:49 PM,39.283308,-76.641401,21223.0,New Southwest/Mount Clare,Southern,9,935,POINT (39.283308 -76.641401),NaN,NaN,NaN
17,422,1303 Harford Rd - Harford/Darley,BPD - Harford Rd,Business,10/22/2014 05:27:49 PM,39.315068,-76.597805,21218.0,East Baltimore Midway,Eastern,12,342,POINT (39.315068 -76.597805),NaN,NaN,NaN
18,176,501 Greenmount - Guilford/28th,BPD - Greenmount,Business,10/22/2014 05:27:47 PM,39.322080,-76.613155,21218.0,Charles Village,Northern,14,512,POINT (39.32208 -76.613155),NaN,NaN,NaN
19,546,2201 Latrobe - 800 Abbott Ct,BPD - Latrobe,Business,10/22/2014 05:27:51 PM,39.301253,-76.606166,21202.0,Oldtown,Eastern,12,312,POINT (39.301253 -76.606166),NaN,NaN,NaN
20,607,2413 PVG - NE Elderly Building,BPD - PVG,Business,10/22/2014 05:27:51 PM,39.293473,-76.600139,21202.0,Pleasant View Gardens,Southeastern,12,211,POINT (39.293473 -76.600139),NaN,NaN,NaN
21,119,308 Cherry Hill - Behind 1201 Slater Rd,BPD - Cherry Hill,Business,10/22/2014 05:27:46 PM,39.248756,-76.632200,21225.0,Cherry Hill,Southern,10,922,POINT (39.248756 -76.6322),NaN,NaN,NaN
22,224,609 Monument - Monument/Milton,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.298861,-76.582319,21205.0,Milton-Montford,Eastern,13,323,POINT (39.298861 -76.582319),NaN,NaN,NaN
23,285,801 Park Heights - Reisterstown/Keyworth,BPD - Park Heights,Business,10/22/2014 05:27:48 PM,39.332670,-76.663122,21215.0,Towanda-Grantley,Northwestern,6,613,POINT (39.33267 -76.663122),NaN,NaN,NaN
24,317,833 Park Heights - Park Heights/Trainor,BPD - Park Heights,Business,10/22/2014 05:27:48 PM,39.354997,-76.687574,21215.0,Glen,Northwestern,5,632,POINT (39.354997 -76.687574),NaN,NaN,NaN
25,7,6 Downtown - Eutaw/Camden,BPD - Downtown,Business,10/22/2014 05:27:45 PM,39.285245,-76.620675,21201.0,Downtown West,Central,11,113,POINT (39.285245 -76.620675),NaN,NaN,NaN
26,467,1942 Northeast Market - NE Market North,BPD - Northeast Market,Business,10/22/2014 05:27:50 PM,39.298141,-76.587517,21205.0,CARE,Eastern,13,321,POINT (39.298141 -76.587517),NaN,NaN,NaN
27,124,313 Cherry Hill - Spelman/Woodview,BPD - Cherry Hill,Business,10/22/2014 05:27:46 PM,39.248579,-76.629266,21225.0,Cherry Hill,Southern,10,922,POINT (39.248579 -76.629266),NaN,NaN,NaN
28,255,711 North Ave West - Pulaski/Westwood,BPD - North Ave West,Business,10/22/2014 05:27:48 PM,39.308694,-76.651259,21217.0,Easterwood,Western,7,741,POINT (39.308694 -76.651259),NaN,NaN,NaN
29,391,1102 Pennsylvania Ave - Carey/Baker,BPD - Pennsylvania Ave,Business,10/22/2014 05:27:49 PM,39.307995,-76.640251,21217.0,Sandtown-Winchester,Western,7,742,POINT (39.307995 -76.640251),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,64,63 Downtown - Holliday/Saratoga,BPD - Downtown,Business,10/22/2014 05:27:45 PM,39.292495,-76.610355,21202.0,Downtown,Central,11,111,POINT (39.292495 -76.610355),NaN,NaN,NaN
585,184,509 Greenmount - Greenmount/25th,BPD - Greenmount,Business,10/22/2014 05:27:47 PM,39.318148,-76.609463,21218.0,Better Waverly,Northern,14,513,POINT (39.318148 -76.609463),NaN,NaN,NaN
586,286,802 Park Heights - Reisterstown/Shirley,BPD - Park Heights,Business,10/22/2014 05:27:48 PM,39.333873,-76.664031,21215.0,Central Park Heights,Northwestern,6,614,POINT (39.333873 -76.664031),NaN,NaN,NaN
587,458,1913 Inner Harbor - Pier 6 Pavillion,BPD - Inner Harbor,Business,10/22/2014 05:27:50 PM,39.283761,-76.604620,21202.0,Inner Harbor,Central,1,112,POINT (39.283761 -76.60462),NaN,NaN,NaN
588,523,2111 Gilmore - 1679 Vincent Ct,BPD - Gilmore,Business,10/22/2014 05:27:51 PM,39.307471,-76.643610,21217.0,Sandtown-Winchester,Western,7,742,POINT (39.307471 -76.64361),NaN,NaN,NaN
589,380,1022 Tri-District - Pulaski/McHenry,BPD - Tri-District,Business,10/22/2014 05:27:49 PM,39.284172,-76.649825,21223.0,Carrollton Ridge,Southern,9,934,POINT (39.284172 -76.649825),NaN,NaN,NaN
590,634,2608 Midtown - Charles/Preston,BPD - Midtown,Business,10/22/2014 05:27:52 PM,39.304624,-76.616370,21201.0,Mid-Town Belvedere,Central,11,141,POINT (39.304624 -76.61637),NaN,NaN,NaN
591,93,210 Broadway - Lombard/Washington,BPD - Broadway,Business,10/22/2014 05:27:46 PM,39.290573,-76.589106,21231.0,Washington Hill,Southeastern,13,212,POINT (39.290573 -76.589106),NaN,NaN,NaN
592,115,304 Cherry Hill - Behind 2711 Berea Rd,BPD - Cherry Hill,Business,10/22/2014 05:27:46 PM,39.250272,-76.632756,21225.0,Cherry Hill,Southern,10,922,POINT (39.250272 -76.632756),NaN,NaN,NaN
593,262,718 North Ave West - Payson/Ridgehill,BPD - North Ave West,Business,10/22/2014 05:27:48 PM,39.311580,-76.650011,21217.0,Mondawmin,Western,7,731,POINT (39.31158 -76.650011),NaN,NaN,NaN
594,234,619 Monument - Mcelderry/Potomac,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.298066,-76.575066,21205.0,Ellwood Park/Monument,Southeastern,13,224,POINT (39.298066 -76.575066),NaN,NaN,NaN
595,332,907 Southwest District - Westwood Ave (Dead End),BPD - Southwest District,Business,10/22/2014 05:27:49 PM,39.308178,-76.664770,21216.0,Northwest Community Action,Southwestern,7,813,POINT (39.308178 -76.66477),NaN,NaN,NaN
596,507,2020 McCulloh - 1100 Stoddart Ct,BPD - McCulloh,Business,10/22/2014 05:27:50 PM,39.300702,-76.626653,21201.0,Upton,Central,11,123,POINT (39.300702 -76.626653),NaN,NaN,NaN
597,347,922 Southwest District - Poplar Grove/Rayner,BPD - Southwest District,Business,10/22/2014 05:27:49 PM,39.296185,-76.665097,21216.0,Franklintown Road,Southwestern,9,814,POINT (39.296185 -76.665097),NaN,NaN,NaN
598,126,315 Cherry Hill - Rear of Community Ctr,BPD - Cherry Hill,Business,10/22/2014 05:27:46 PM,39.248153,-76.629757,21225.0,Cherry Hill,Southern,10,922,POINT (39.248153 -76.629757),NaN,NaN,NaN
599,490,2003 McCulloh - 520 Hoffman St,BPD - McCulloh,Business,10/22/2014 05:27:50 PM,39.299569,-76.627820,21201.0,Upton,Central,11,123,POINT (39.299569 -76.62782),NaN,NaN,NaN
600,365,1007 Tri-District - Gilmor/Ramsay,BPD - Tri-District,Business,10/22/2014 05:27:49 PM,39.283275,-76.642089,21223.0,New Southwest/Mount Clare,Southern,9,935,POINT (39.283275 -76.642089),NaN,NaN,NaN
601,86,203 Broadway - Baltimore/Broadway,BPD - Broadway,Business,10/22/2014 05:27:46 PM,39.291542,-76.593944,21231.0,Washington Hill,Southeastern,12,212,POINT (39.291542 -76.593944),NaN,NaN,NaN
602,318,834 Park Heights - Park Heights/Menlo,BPD - Park Heights,Business,10/22/2014 05:27:48 PM,39.356444,-76.689695,21215.0,Glen,Northwestern,5,632,POINT (39.356444 -76.689695),NaN,NaN,NaN
603,566,2221 Latrobe - 1001 McAleer Ct,BPD - Latrobe,Business,10/22/2014 05:27:51 PM,39.299716,-76.603547,21202.0,Oldtown,Eastern,12,312,POINT (39.299716 -76.603547),NaN,NaN,NaN
604,222,607 Monument - Monument/Montford,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.298807,-76.583721,21205.0,Milton-Montford,Eastern,13,323,POINT (39.298807 -76.583721),NaN,NaN,NaN
605,584,2311 Perkins - 299 Herring Ct,BPD - Perkins,Business,10/22/2014 05:27:51 PM,39.287665,-76.594826,21231.0,Perkins Homes,Southeastern,12,211,POINT (39.287665 -76.594826),NaN,NaN,NaN
606,513,2101 Gilmore - Behind 1638 Bruce Ct,BPD - Gilmore,Business,10/22/2014 05:27:50 PM,39.307301,-76.644213,21217.0,Sandtown-Winchester,Western,7,742,POINT (39.307301 -76.644213),NaN,NaN,NaN
607,229,614 Monument - Mcelderry/Belnord,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.297951,-76.578631,21205.0,McElderry Park,Southeastern,13,221,POINT (39.297951 -76.578631),NaN,NaN,NaN
608,618,2502 Dept of Corrections - Madison/Constitution,BPD - Dept of Corrections,Business,10/22/2014 05:27:52 PM,39.298897,-76.609951,21202.0,Penn-Fallsway,Eastern,12,312,POINT (39.298897 -76.609951),NaN,NaN,NaN
609,518,2106 Gilmore - 1679 Bakbury Ct,BPD - Gilmore,Business,10/22/2014 05:27:50 PM,39.307862,-76.645106,21217.0,Sandtown-Winchester,Western,7,742,POINT (39.307862 -76.645106),NaN,NaN,NaN
610,473,1962 Avenue Market - Avenue Market Middle,BPD - Avenue Market,Business,10/22/2014 05:27:50 PM,39.303537,-76.635647,21217.0,Upton,Central,11,123,POINT (39.303537 -76.635647),NaN,NaN,NaN
611,375,1017 Tri-District - Monroe/Wilhelm,BPD - Tri-District,Business,10/22/2014 05:27:49 PM,39.283694,-76.646686,21223.0,Carrollton Ridge,Southern,9,934,POINT (39.283694 -76.646686),NaN,NaN,NaN
612,239,624 Monument - Mcelderry/Robinson,BPD - Monument,Business,10/22/2014 05:27:47 PM,39.298041,-76.573087,21205.0,Ellwood Park/Monument,Southeastern,13,224,POINT (39.298041 -76.573087),NaN,NaN,NaN
613,103,220 Broadway - Fleet/Broadway,BPD - Broadway,Business,10/22/2014 05:27:46 PM,39.284604,-76.593566,21231.0,Fells Point,Southeastern,1,213,POINT (39.284604 -76.593566),NaN,NaN,NaN

In [10]:
# explore data types

cctv_df.dtypes

ID                               int64
CameraName                      object
Owner                           object
RegistrationType                object
ListedDate                      object
Latitude                       float64
Longitude                      float64
ZipCode                        float64
Neighborhood                    object
PoliceDistrict                  object
CouncilDistrict                  int64
PolicePost                       int64
Location                        object
2010 Census Neighborhoods      float64
2010 Census Wards Precincts    float64
Zip Codes                      float64
dtype: object

In [11]:
# drop any rows where the ZipCode is blank

cctv_df.dropna(subset=['ZipCode'], inplace=True)

In [12]:
# change ZipCode dtype from float to integer (to drop decimal)

cctv_df.ZipCode = cctv_df.ZipCode.astype(int)

In [13]:
# check revised dtypes

cctv_df.dtypes

ID                               int64
CameraName                      object
Owner                           object
RegistrationType                object
ListedDate                      object
Latitude                       float64
Longitude                      float64
ZipCode                          int64
Neighborhood                    object
PoliceDistrict                  object
CouncilDistrict                  int64
PolicePost                       int64
Location                        object
2010 Census Neighborhoods      float64
2010 Census Wards Precincts    float64
Zip Codes                      float64
dtype: object

In [14]:
# preview number of cctv by zipcode

cctv_df['ZipCode'].value_counts()

21201    101
21202     96
21217     83
21225     57
21231     46
21218     44
21223     41
21215     40
21216     37
21205     32
21213     19
21224      5
21230      4
21229      4
21206      1
Name: ZipCode, dtype: int64

In [15]:
# create a new column with number of cameras

cctv_df['NumCameras']= 1

In [16]:
# create a new dataframe groupedby zipcode, dropping all columns except ZipCode & NumCameras

cctv_zips = cctv_df.groupby(['ZipCode'], as_index=False).count()
cctv_zips_raw_df = pd.DataFrame(cctv_zips)
cctv_zips_df = cctv_zips_raw_df.drop(columns=['ID',
                                              'CameraName',
                                              'Owner', 
                                              'RegistrationType',
                                              'ListedDate',
                                              'Latitude',
                                              'Longitude',
                                             'Neighborhood',
                                             'PoliceDistrict',
                                             'CouncilDistrict',
                                             'PolicePost',
                                             'Location',
                                             '2010 Census Neighborhoods',
                                             '2010 Census Wards Precincts',
                                             'Zip Codes'])
cctv_zips_df

    ZipCode  NumCameras
0     21201         101
1     21202          96
2     21205          32
3     21206           1
4     21213          19
5     21215          40
6     21216          37
7     21217          83
8     21218          44
9     21223          41
10    21224           5
11    21225          57
12    21229           4
13    21230           4
14    21231          46

In [17]:
# load csv with complete list of Baltimore zip codes

baltimore_zips_data = "all_baltimore_zips.csv"
baltimore_zips_df = pd.read_csv(baltimore_zips_data)
baltimore_zips_df

    ZipCode
0     21201
1     21202
2     21203
3     21205
4     21206
5     21207
6     21208
7     21209
8     21210
9     21211
10    21212
11    21213
12    21214
13    21215
14    21216
15    21217
16    21218
17    21222
18    21223
19    21224
20    21225
21    21226
22    21227
23    21229
24    21230
25    21231
26    21233
27    21234
28    21236
29    21237
30    21239
31    21251
32    21263
33    21264
34    21270
35    21273
36    21275
37    21278
38    21279
39    21280
40    21281
41    21287
42    21288
43    21289
44    21290
45    21297
46    21298

In [18]:
# join complete list of zips with list of cctv zips

balt_zips = baltimore_zips_df.join(cctv_zips_df.set_index('ZipCode'), on='ZipCode')

In [19]:
# replace all NaN values with 0 and convert NumCameras column to int

clean_balt_zips = balt_zips.fillna(0)
clean_balt_zips.NumCameras = clean_balt_zips.NumCameras.astype(int)
clean_balt_zips

    ZipCode  NumCameras
0     21201         101
1     21202          96
2     21203           0
3     21205          32
4     21206           1
5     21207           0
6     21208           0
7     21209           0
8     21210           0
9     21211           0
10    21212           0
11    21213          19
12    21214           0
13    21215          40
14    21216          37
15    21217          83
16    21218          44
17    21222           0
18    21223          41
19    21224           5
20    21225          57
21    21226           0
22    21227           0
23    21229           4
24    21230           4
25    21231          46
26    21233           0
27    21234           0
28    21236           0
29    21237           0
30    21239           0
31    21251           0
32    21263           0
33    21264           0
34    21270           0
35    21273           0
36    21275           0
37    21278           0
38    21279           0
39    21280           0
40    21281           0
41    21287           0
42    21288           0
43    21289           0
44    21290           0
45    21297           0
46    21298           0

## PART 3: Join the Census & CCTV Dataframes

In [20]:
zips_cctv_data_df = clean_balt_zips.join(census_pd.set_index('ZipCode'), on='ZipCode')
zips_cctv_data_df

,ZipCode,NumCameras,Population,White_Pop,Black_Pop,Percent_Non_White,Median_Income
0,21201,101,16595.0,6329.0,8749.0,61.862007,26420.0
1,21202,96,21788.0,7194.0,13329.0,66.981825,22533.0
2,21203,0,NaN,NaN,NaN,NaN,NaN
3,21205,32,14766.0,3636.0,10352.0,75.375863,17235.0
4,21206,1,51287.0,12684.0,37531.0,75.268587,30133.0
5,21207,0,48243.0,5604.0,41686.0,88.383807,30250.0
6,21208,0,36797.0,19907.0,15822.0,45.900481,40616.0
7,21209,0,27462.0,20695.0,4542.0,24.641323,44300.0
8,21210,0,15258.0,11732.0,1692.0,23.109189,49888.0
9,21211,0,16436.0,13355.0,2153.0,18.745437,38090.0
10,21212,0,34010.0,18118.0,14416.0,46.727433,37016.0
11,21213,19,31733.0,2680.0,28882.0,91.554533,19880.0
12,21214,0,20790.0,8842.0,12092.0,57.469937,34561.0
13,21215,40,59404.0,10608.0,48625.0,82.142617,22306.0
14,21216,37,30037.0,1109.0,29044.0,96.307887,21729.0
15,21217,83,36563.0,4093.0,31361.0,88.805623,18847.0
16,21218,44,48815.0,15436.0,30964.0,68.378572,25490.0
17,21222,0,54771.0,44656.0,7764.0,18.467802,26885.0
18,21223,41,23811.0,5028.0,17883.0,78.883709,15468.0
19,21224,5,50957.0,36737.0,8918.0,27.905881,35246.0
20,21225,57,33001.0,16154.0,14728.0,51.049968,23715.0
21,21226,0,7770.0,5677.0,2105.0,26.936937,32673.0
22,21227,0,33926.0,26018.0,5735.0,23.309556,31299.0
23,21229,4,48225.0,9280.0,37802.0,80.756869,26231.0
24,21230,4,34657.0,22913.0,9926.0,33.886372,42027.0
25,21231,46,16729.0,10528.0,5273.0,37.067368,41724.0
26,21233,0,NaN,NaN,NaN,NaN,NaN
27,21234,0,69649.0,45099.0,20549.0,35.248173,35688.0
28,21236,0,39333.0,28130.0,7072.0,28.482445,38996.0
29,21237,0,30085.0,17981.0,9337.0,40.232674,35113.0
30,21239,0,32065.0,4847.0,26237.0,84.883830,30192.0
31,21251,0,881.0,253.0,599.0,71.282633,3627.0
32,21263,0,NaN,NaN,NaN,NaN,NaN
33,21264,0,NaN,NaN,NaN,NaN,NaN
34,21270,0,NaN,NaN,NaN,NaN,NaN
35,21273,0,NaN,NaN,NaN,NaN,NaN
36,21275,0,NaN,NaN,NaN,NaN,NaN
37,21278,0,NaN,NaN,NaN,NaN,NaN
38,21279,0,NaN,NaN,NaN,NaN,NaN
39,21280,0,NaN,NaN,NaN,NaN,NaN
40,21281,0,NaN,NaN,NaN,NaN,NaN
41,21287,0,NaN,NaN,NaN,NaN,NaN
42,21288,0,NaN,NaN,NaN,NaN,NaN
43,21289,0,NaN,NaN,NaN,NaN,NaN
44,21290,0,NaN,NaN,NaN,NaN,NaN
45,21297,0,NaN,NaN,NaN,NaN,NaN
46,21298,0,NaN,NaN,NaN,NaN,NaN

In [21]:
# remove any rows missing census data

zips_cctv_data_df.dropna(subset=['Population'], inplace=True)
zips_cctv_data_df

,ZipCode,NumCameras,Population,White_Pop,Black_Pop,Percent_Non_White,Median_Income
0,21201,101,16595.0,6329.0,8749.0,61.862007,26420.0
1,21202,96,21788.0,7194.0,13329.0,66.981825,22533.0
3,21205,32,14766.0,3636.0,10352.0,75.375863,17235.0
4,21206,1,51287.0,12684.0,37531.0,75.268587,30133.0
5,21207,0,48243.0,5604.0,41686.0,88.383807,30250.0
6,21208,0,36797.0,19907.0,15822.0,45.900481,40616.0
7,21209,0,27462.0,20695.0,4542.0,24.641323,44300.0
8,21210,0,15258.0,11732.0,1692.0,23.109189,49888.0
9,21211,0,16436.0,13355.0,2153.0,18.745437,38090.0
10,21212,0,34010.0,18118.0,14416.0,46.727433,37016.0
11,21213,19,31733.0,2680.0,28882.0,91.554533,19880.0
12,21214,0,20790.0,8842.0,12092.0,57.469937,34561.0
13,21215,40,59404.0,10608.0,48625.0,82.142617,22306.0
14,21216,37,30037.0,1109.0,29044.0,96.307887,21729.0
15,21217,83,36563.0,4093.0,31361.0,88.805623,18847.0
16,21218,44,48815.0,15436.0,30964.0,68.378572,25490.0
17,21222,0,54771.0,44656.0,7764.0,18.467802,26885.0
18,21223,41,23811.0,5028.0,17883.0,78.883709,15468.0
19,21224,5,50957.0,36737.0,8918.0,27.905881,35246.0
20,21225,57,33001.0,16154.0,14728.0,51.049968,23715.0
21,21226,0,7770.0,5677.0,2105.0,26.936937,32673.0
22,21227,0,33926.0,26018.0,5735.0,23.309556,31299.0
23,21229,4,48225.0,9280.0,37802.0,80.756869,26231.0
24,21230,4,34657.0,22913.0,9926.0,33.886372,42027.0
25,21231,46,16729.0,10528.0,5273.0,37.067368,41724.0
27,21234,0,69649.0,45099.0,20549.0,35.248173,35688.0
28,21236,0,39333.0,28130.0,7072.0,28.482445,38996.0
29,21237,0,30085.0,17981.0,9337.0,40.232674,35113.0
30,21239,0,32065.0,4847.0,26237.0,84.883830,30192.0
31,21251,0,881.0,253.0,599.0,71.282633,3627.0

In [22]:
# change Percent_Non_White dtype from float to integer (to drop decimal)

zips_cctv_data_df.Percent_Non_White = zips_cctv_data_df.Percent_Non_White.astype(int)

In [ ]:
# update columns

In [63]:
# export to csv

zips_cctv_data_df.to_csv(index=False)
export_zips_cctv_data_csv = zips_cctv_data_df.to_csv (r'/Users/scottgregory/Desktop/Project/export_zips_cctv_data.csv', index = None, header=True)

In [32]:
# create database connection

connection_string = "postgres:chumwater@localhost:5432/baltimore_cctv_db"
engine = create_engine(f'postgresql://{connection_string}')

In [35]:
# Confirm table exists

engine.table_names()

['balt_cctv_census', 'bpd_cctv_census']

In [38]:
# load dataframe into database

zips_cctv_data_df.to_sql(name='bpd_cctv_census', con=engine, if_exists='append', index=False)
zips_cctv_data_df

,ZipCode,NumCameras,Population,White_Pop,Black_Pop,Percent_Non_White,Median_Income
0,21201,101,16595.0,6329.0,8749.0,61,26420.0
1,21202,96,21788.0,7194.0,13329.0,66,22533.0
3,21205,32,14766.0,3636.0,10352.0,75,17235.0
4,21206,1,51287.0,12684.0,37531.0,75,30133.0
5,21207,0,48243.0,5604.0,41686.0,88,30250.0
6,21208,0,36797.0,19907.0,15822.0,45,40616.0
7,21209,0,27462.0,20695.0,4542.0,24,44300.0
8,21210,0,15258.0,11732.0,1692.0,23,49888.0
9,21211,0,16436.0,13355.0,2153.0,18,38090.0
10,21212,0,34010.0,18118.0,14416.0,46,37016.0
11,21213,19,31733.0,2680.0,28882.0,91,19880.0
12,21214,0,20790.0,8842.0,12092.0,57,34561.0
13,21215,40,59404.0,10608.0,48625.0,82,22306.0
14,21216,37,30037.0,1109.0,29044.0,96,21729.0
15,21217,83,36563.0,4093.0,31361.0,88,18847.0
16,21218,44,48815.0,15436.0,30964.0,68,25490.0
17,21222,0,54771.0,44656.0,7764.0,18,26885.0
18,21223,41,23811.0,5028.0,17883.0,78,15468.0
19,21224,5,50957.0,36737.0,8918.0,27,35246.0
20,21225,57,33001.0,16154.0,14728.0,51,23715.0
21,21226,0,7770.0,5677.0,2105.0,26,32673.0
22,21227,0,33926.0,26018.0,5735.0,23,31299.0
23,21229,4,48225.0,9280.0,37802.0,80,26231.0
24,21230,4,34657.0,22913.0,9926.0,33,42027.0
25,21231,46,16729.0,10528.0,5273.0,37,41724.0
27,21234,0,69649.0,45099.0,20549.0,35,35688.0
28,21236,0,39333.0,28130.0,7072.0,28,38996.0
29,21237,0,30085.0,17981.0,9337.0,40,35113.0
30,21239,0,32065.0,4847.0,26237.0,84,30192.0
31,21251,0,881.0,253.0,599.0,71,3627.0