In [84]:
# import dependencies

import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse

In [102]:
# read in BPD Victim-Based Crime Data CSV into a pandas dataframe

raw_data = pd.read_csv("BPD_Part_1_Victim_Based_Crime_Data.csv")

In [104]:
# do an initial exploration of the dataframe

raw_data.head()
# raw_data.count()
# raw_data.dtypes

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,08/10/2019,02:00:00,6D,1100 N EUTAW ST,LARCENY FROM AUTO,NaN,NaN,132.0,CENTRAL,MADISON PARK,-76.624263,39.302487,NaN,NaN,NaN,1
1,08/10/2019,02:20:00,5C,3300 E LOMBARD ST,BURGLARY,O,NaN,222.0,SOUTHEAST,BALTIMORE-LINWOOD,-76.570028,39.291473,NaN,STREET,NaN,1
2,08/10/2019,22:00:00,5C,800 MC ALEER CT,BURGLARY,I,NaN,312.0,EASTERN,OLDTOWN,-76.605627,39.300215,NaN,ROW/TOWNHOUSE-OCC,NaN,1
3,08/10/2019,19:47:00,5B,1100 SOMERSET ST,BURGLARY,I,NaN,311.0,EASTERN,JOHNSTON SQUARE,-76.601222,39.303707,NaN,ROW/TOWNHOUSE-OCC,NaN,1
4,08/10/2019,05:00:00,4E,1300 PENTRIDGE RD,COMMON ASSAULT,O,NaN,413.0,NORTHEAST,NEW NORTHWOOD,-76.593203,39.347872,NaN,STREET,NaN,1

In [95]:
# convert date column from string to datetime

raw_data['CrimeDate']= pd.to_datetime(raw_data['CrimeDate'])

In [94]:
# convert time column from string to datetime

raw_data['CrimeTime']= pd.to_datetime(raw_data['CrimeTime']) 
raw_data.dtypes

CrimeDate          datetime64[ns]
CrimeTime          datetime64[ns]
CrimeCode                  object
Location                   object
Description                object
Inside/Outside             object
Weapon                     object
Post                      float64
District                   object
Neighborhood               object
Longitude                 float64
Latitude                  float64
Location 1                float64
Premise                    object
vri_name1                  object
Total Incidents             int64
dtype: object

In [96]:
# identify oldest crime data point

raw_data["CrimeDate"].min()

Timestamp('1963-10-30 00:00:00')

In [98]:
# filter data to just include 2018 crimes & preview results by neighborhood

recent_year_data = raw_data[(raw_data["CrimeDate"] >= '2018-01-01 00:00:00') &
                            (raw_data["CrimeDate"] <= '2018-12-31 00:00:00')]
recent_year_data['Neighborhood'].value_counts()

DOWNTOWN                         1635
FRANKFORD                        1084
BELAIR-EDISON                    1042
BROOKLYN                          947
CANTON                            843
INNER HARBOR                      759
CHERRY HILL                       734
SANDTOWN-WINCHESTER               664
COLDSTREAM HOMESTEAD              603
CHARLES VILLAGE                   560
WASHINGTON VILLAGE                538
MOUNT VERNON                      534
BALTIMORE-LINWOOD                 528
FELLS POINT                       520
UPTON                             504
MORRELL PARK                      501
MCELDERRY PARK                    483
MIDDLE EAST                       476
BROADWAY EAST                     450
HARFORD-ECHODALE-PER              439
CARROLLTON RIDGE                  435
HAMPDEN                           434
RESERVOIR HILL                    422
REISTERSTOWN STATION              411
LAKELAND                          399
MONDAWMIN                         398
ELLWOOD PARK/MONUMEN              395
EAST BALTIMORE MIDWA              392
HUDSON-HIGHLANDTOWN               385
IRVINGTON                         383
                                 ...
BELAIR-PARKSIDE                    22
MORGAN STATE UNIVERS               22
OVERLEA                            20
PURNELL                            19
CEDARCROFT                         18
EVERGREEN                          17
EASTWOOD                           17
HAWKINS POINT                      16
CURTIS BAY INDUSTRIAL AREA         16
FOREST PARK/GOLF COU               15
WYNDHURST                          15
GWYNNS FALLS/LEAKIN PARK           15
SAINT PAUL                         14
MONTEBELLO                         12
LAKE-EVESHAM                       11
MOUNT PLEASANT PARK                10
SPRING GARDEN INDUSTRIAL AREA       9
THE ORCHARDS                        9
LOWER HERRING RUN PARK              9
KESWICK                             8
HERRING RUN PARK                    6
PORT COVINGTON                      6
MORGAN PARK                         6
GREENMOUNT CEMETERY                 5
BLYTHEWOOD                          4
TAYLOR HEIGHTS                      3
BELLONA-GITTINGS                    2
DICKEYVILLE                         1
CARROL                              1
VILLAGES OF HOMELAND                1
Name: Neighborhood, Length: 271, dtype: int64

In [ ]:
# create buckets for each decade

In [108]:
# for comparison, review the number of districts included in the dataset

recent_year_data["District"].value_counts()

SOUTHEAST    7135
NORTHEAST    7051
CENTRAL      5619
SOUTHERN     5584
SOUTHWEST    5363
NORTHERN     5001
NORTHWEST    4514
EASTERN      4296
WESTERN      3787
UNKNOWN        15
Name: District, dtype: int64

In [135]:
# drop any columns not relevant to our analysis

recent_data_narrowed = recent_year_data.drop(columns=['Location 1',
                                           'vri_name1', 
                                           'Total Incidents', 
                                           'Post'])
recent_data_narrowed.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,District,Neighborhood,Longitude,Latitude,Premise
27387,2018-12-31,2019-08-20 12:45:00,4E,5000 PARK HEIGHTS AVE,COMMON ASSAULT,O,NaN,NORTHWEST,CENTRAL PARK HEIGHTS,-76.673717,39.347617,PARKING LOT-OUTSIDE
27388,2018-12-31,2019-08-20 12:42:00,6G,1700 EUTAW PL,LARCENY,I,NaN,CENTRAL,BOLTON HILL,-76.629898,39.307280,SPECIALTY STORE
27389,2018-12-31,2019-08-20 22:07:00,3AK,100 S MONROE ST,ROBBERY - STREET,O,KNIFE,SOUTHERN,CARROLLTON RIDGE,-76.646849,39.286096,STREET
27390,2018-12-31,2019-08-20 13:30:00,5D,2300 ORLEANS ST,BURGLARY,I,NaN,SOUTHEAST,PATTERSON PLACE,-76.584173,39.295517,OTHER - INSIDE
27391,2018-12-31,2019-08-20 18:00:00,4E,100 W 29TH ST,COMMON ASSAULT,I,NaN,NORTHERN,CHARLES VILLAGE,-76.619453,39.323070,APT/CONDO - OCCUPIED

In [139]:
# group data by crime and then neighborhood
# use output to create new dataframe

recent_data = recent_data_narrowed.groupby(['Neighborhood', 'Description'], as_index=False).count()
crimes_2018 = pd.DataFrame(recent_data)
crimes_2018

,Neighborhood,Description,CrimeDate,CrimeTime,CrimeCode,Location,Inside/Outside,Weapon,District,Longitude,Latitude,Premise
0,4X4,AGG. ASSAULT,8,8,8,8,7,8,8,8,8,7
1,4X4,ARSON,1,1,1,1,1,1,1,1,1,1
2,4X4,AUTO THEFT,7,7,7,5,7,0,7,6,6,7
3,4X4,BURGLARY,14,14,14,14,13,0,14,14,14,13
4,4X4,COMMON ASSAULT,14,14,14,14,10,0,14,14,14,10
5,4X4,LARCENY,11,11,11,11,10,0,11,11,11,10
6,4X4,LARCENY FROM AUTO,7,7,7,7,6,0,7,7,7,6
7,4X4,ROBBERY - RESIDENCE,2,2,2,2,1,1,2,2,2,1
8,4X4,ROBBERY - STREET,2,2,2,2,2,1,2,2,2,2
9,ABELL,AGG. ASSAULT,11,11,11,11,9,11,11,11,11,9
10,ABELL,ARSON,1,1,1,1,1,1,1,1,1,1
11,ABELL,AUTO THEFT,5,5,5,5,5,0,5,5,5,5
12,ABELL,BURGLARY,18,18,18,18,11,0,18,18,18,11
13,ABELL,COMMON ASSAULT,17,17,17,17,12,0,17,17,17,12
14,ABELL,LARCENY,21,21,21,21,17,0,21,20,20,17
15,ABELL,LARCENY FROM AUTO,10,10,10,10,6,0,10,10,10,6
16,ABELL,RAPE,1,1,1,1,1,1,1,1,1,1
17,ABELL,ROBBERY - CARJACKING,1,1,1,1,1,1,1,1,1,1
18,ABELL,ROBBERY - COMMERCIAL,6,6,6,6,6,5,6,6,6,6
19,ABELL,ROBBERY - RESIDENCE,1,1,1,1,1,0,1,1,1,1
20,ABELL,ROBBERY - STREET,11,11,11,11,11,8,11,11,11,11
21,ALLENDALE,AGG. ASSAULT,47,47,47,47,36,47,47,47,47,36
22,ALLENDALE,ARSON,1,1,1,1,1,1,1,1,1,1
23,ALLENDALE,AUTO THEFT,20,20,20,20,17,0,20,20,20,17
24,ALLENDALE,BURGLARY,49,49,49,49,44,0,49,49,49,44
25,ALLENDALE,COMMON ASSAULT,88,88,88,85,73,0,88,85,85,73
26,ALLENDALE,HOMICIDE,12,12,12,12,12,12,12,12,12,12
27,ALLENDALE,LARCENY,40,40,40,40,33,0,40,40,40,33
28,ALLENDALE,LARCENY FROM AUTO,14,14,14,14,14,0,14,14,14,14
29,ALLENDALE,RAPE,2,2,2,2,1,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2741,WOODRING,LARCENY FROM AUTO,10,10,10,10,10,0,10,10,10,10
2742,WOODRING,ROBBERY - CARJACKING,2,2,2,2,1,2,2,2,2,1
2743,WOODRING,ROBBERY - COMMERCIAL,5,5,5,5,4,5,5,5,5,4
2744,WOODRING,ROBBERY - STREET,2,2,2,2,1,2,2,2,2,1
2745,WYMAN PARK,AGG. ASSAULT,1,1,1,1,1,1,1,1,1,1
2746,WYMAN PARK,AUTO THEFT,6,6,6,6,3,0,6,6,6,3
2747,WYMAN PARK,BURGLARY,3,3,3,3,3,0,3,3,3,3
2748,WYMAN PARK,COMMON ASSAULT,1,1,1,1,1,0,1,1,1,1
2749,WYMAN PARK,LARCENY,18,18,18,18,11,0,18,18,18,11
2750,WYMAN PARK,LARCENY FROM AUTO,23,23,23,23,18,0,23,23,23,18
2751,WYMAN PARK,ROBBERY - COMMERCIAL,3,3,3,3,2,3,3,3,3,2
2752,WYMAN PARK,ROBBERY - STREET,5,5,5,5,2,4,5,5,5,2
2753,WYNDHURST,AGG. ASSAULT,1,1,1,1,1,1,1,1,1,1
2754,WYNDHURST,BURGLARY,3,3,3,3,2,0,3,3,3,2
2755,WYNDHURST,COMMON ASSAULT,3,3,3,3,2,0,3,3,3,2
2756,WYNDHURST,LARCENY,5,5,5,5,4,0,5,5,5,4
2757,WYNDHURST,LARCENY FROM AUTO,3,3,3,3,2,0,3,3,3,2
2758,YALE HEIGHTS,AGG. ASSAULT,9,9,9,9,8,9,9,9,9,8
2759,YALE HEIGHTS,ARSON,2,2,2,2,2,2,2,2,2,2
2760,YALE HEIGHTS,AUTO THEFT,11,11,11,11,11,0,11,11,11,11
2761,YALE HEIGHTS,BURGLARY,21,21,21,21,18,0,21,21,21,18
2762,YALE HEIGHTS,COMMON ASSAULT,26,26,26,26,22,0,26,26,26,22
2763,YALE HEIGHTS,LARCENY,22,22,22,22,19,0,22,22,22,19
2764,YALE HEIGHTS,LARCENY FROM AUTO,23,23,23,23,19,0,23,23,23,19
2765,YALE HEIGHTS,RAPE,3,3,3,3,1,3,3,3,3,1
2766,YALE HEIGHTS,ROBBERY - CARJACKING,2,2,2,2,2,2,2,2,2,2
2767,YALE HEIGHTS,ROBBERY - COMMERCIAL,1,1,1,1,1,0,1,1,1,1
2768,YALE HEIGHTS,ROBBERY - RESIDENCE,2,2,2,2,1,0,2,2,2,1
2769,YALE HEIGHTS,ROBBERY - STREET,8,8,8,8,8,6,8,8,8,8
2770,YALE HEIGHTS,SHOOTING,2,2,2,2,2,2,2,2,2,2